body {
	background: {
		color: white;
		repeat: no-repeat;
	}
	
	/*
perspective: 1px;
	overflow-y: scroll;
*/
	
	@media screen and ( max-width: $tablet + px ) {
		padding-top: 100px;
	}
}

body,
html {
  height: 100%;
}


html {
	@media screen and ( min-width: $tablet_portrait + 1 + px ) {
		//overflow: hidden;
	}
	
}

body {
	@media screen and ( min-width: $tablet_portrait + 1 + px ) {
		
	}
}