body {
	background: {
		color: white;
		repeat: no-repeat;
	}
	
	/*
perspective: 1px;
	overflow-y: scroll;
*/
	
	@media screen and ( max-width: $tablet + px ) {
		padding-top: 100px;
	}
}

body,
html {
  height: 100%;
}
