.color-beige {
	color: $c-beige;
}

.color-black {
	color: $c-black;
}

.color-blue {
	color: $c-blue;
}

.color-gray {
	color: $c-gray;
}

.color-gray--bright {
	color: $c-gray--bright;
}

.color-gray--brightest {
	color: $c-gray--brightest;
}

.color-gray--darker {
	color: $c-gray--darker;
}

.color-gray--darkest {
	color: $c-gray--darkest;
}

.color-orange {
	color: $c-orange;
}

.color-orange--brighter {
	color: $c-orange--brighter;
}

.color-pink--darker {
	color: $c-pink--darker;
}

.color-violet {
	color: $c-violet;
}

.color-violet--darker {
	color: $c-violet--darker;
}

.color-white {
	color: white;
}

.bg-beige--brighter {
	background-color: $c-beige--brighter;
}

.bg--blue--brightest {
	background-color: $c-blue--brightest;
}

.bg-gray--brightest {
	background-color: $c-gray--brightest;
}
