$cols__col:	600;

.o-2cols {
	@extend %clear;
	@extend %wrap;
	z-index: 5;
	
	.o-link {
		@extend %abs;
		bottom: 80px;
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			left: 10px;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			right: 0;
			bottom: 40px;
		}
	}

	.o-media {
		@extend %anim;
		display: block;
	}
	
	&__col {
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			float: left;
			width: grid($cols__col);
			padding: 0 grid($padding);
			
			&--right {
				padding-top: 100px;
				
				@media screen and ( min-width: $tablet + 1 + px ) {
					padding-top: 170px;
				}
			}
		}
	}
	
	&__details {
		@extend %abs; z-index: 100;
		transition: all 650ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
		top: 0;
		width: calc(100% + 20px);
		background-color: $c-gray--brightest;
		padding: 80px grid(80, 600);
		opacity: 0;
		transform: scaleX(0);
		visibility: hidden;

		@media screen and ( min-width: $grid-base-width + 1 + px ) {
			.o-2cols__col--left & {
				right: calc(-100% - 17px);
			}
			
			.o-2cols__col--right & {
				left: calc(-100% + 52px);
			}
		}
		
		@media screen and ( max-width: $grid-base-width + px ) {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			padding: 80px grid(80, $grid-base-width);
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			padding: {
				left: 20px;
				right: 20px;
			}
		}
		
		p {
			margin-bottom: 2em;
			font-weight: $medium;
		}
		
		.icon-close {
			@extend %abs;
			right: 20px; top: 20px;
			font-size: em(20 );
			cursor: pointer;
		}
		
		.is-active & {
			opacity: 1;
			transform: scaleX(1);
			visibility: visible;
		}
	}
	
	&__item {
		@extend %clear;
		@extend %rel;
		display: block;
		position: relative;
		margin-bottom: 80px;
		padding-left: grid(75, 600);
		
		&:before {
			@extend %icomoon;
			@extend %abs-after;
			right: 15px; bottom: 15px;
			z-index: 10;
			content: "\e900";
		}
		
		&.is-active {
			z-index: 10;
		}
		
		&.js-item {
			&:hover {
				.o-2cols__info,
				.o-media {
					cursor: pointer;	
				}
			}
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			max-width: $cols__col + px;
			margin: {
				left: auto;
				right: auto;
				bottom: 60px;
			}
			padding-left: 60px;
//			padding: 0 grid($padding);
		}
	}
	
	&__photo {
		float: right;
	}
	
	&__info {
		@extend %vcenter;
		@extend %anim;
		left: 0;
		z-index: 10;
		width: grid(280, $cols__col - 2 * $padding);
		
		@media screen and ( max-width: $grid-base-width + px ) {
			padding-left: 10px;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			padding-left: 20px;
		}
	}
	
	&__title {
		display: block;
		margin-bottom: 10px;
		letter-spacing: 3px;
		//word-spacing: 100px;
		text-transform: uppercase;
		font: {
			size: em(22);
			weight: $black;
		}
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $tablet + px ), 
						  ( max-width: $smartphone + px ) {
			font-size: em(14);
		}
	}
	
	&__desc {
		font: {
			size: em(18);
			weight: $bold;
		}
		color: $c-gray--darker;
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) and ( max-width: $tablet + px ),
						  ( max-width: $smartphone + px ) {
			font-size: em(14);
		}
	}
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		padding-bottom: 60px;
	}
	
	&--offer {
		margin-bottom: -440px;
	}
}


.parallax {
	@media screen and ( min-width: $tablet + 1 + px ) {
		transform: translateX(-10%) translateZ(.2px) scale(.8) translateY(-220px);
	}
	
	
}
