input {

	&[type=checkbox],
	&[type=radio] {
		display: none;
		
		& + label {
			i {
				display: inline-block;
				height: 22px;
				width: 22px;
				background-color: white;
				border: 1px solid #d4cdc6;
				vertical-align: middle;
				cursor: pointer;
				
				.has-error & {
					border-color: red !important;
				}
			}
			
			span {
				white-space: nowrap;
				display: inline-block;
				padding-left: 6px;
			}
		}
		
		&:checked {
			& + label {
				i {
					background-color: #d4cdc6;
					box-shadow: white 0 0 0 3px inset;
				}
			}
		}
	}



	&[type=checkbox] {
		display: none;
		
		& + label {
			i {
				border-radius: 50%;
			}			
		}
	}
	
	&[type=radio] {
		display: none;
		
		& + label {
			i {
				border-radius: 50%;
			}
		}
	}
}




.o-form {

	input, textarea {
		padding: 0 20px;
	}
	
	textarea {
		border: 1px solid rgba($c-gray--darker, .5);
		padding: {
			top: 20px;
			bottom: 20px;
		}
		font-size: em(12);
	}
	
	input {
		&[type=text] {
			
		}
	}
	
	input {
		&[type=text],
		&[type=email] {
			height: 46px;
			border: 1px solid rgba($c-gray--darker, .5);
		}
	}
	
	&__row {
		@extend %clear;
		margin-bottom: 10px;
	}
	
	.c-newsletter & {
		.o-form__row {
			margin-bottom: 20px;
		}
	}
}