.icon-youtube-play:before {
  content: "\e904";
}
.icon-facebook-square:before {
  content: "\e905";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e903";
}

