.icon-hamburger:before {
  content: "\e90c";
}
.icon-metro .path1:before {
  content: "\e90a";
  color: rgb(0, 0, 0);
}
.icon-metro .path2:before {
  content: "\e90b";
  margin-left: -1.0908203125em;
  color: rgb(0, 0, 0);
}
.icon-tram .path1:before {
  content: "\e906";
  color: rgb(0, 0, 0);
}
.icon-tram .path2:before {
  content: "\e907";
  margin-left: -1.408203125em;
  color: rgb(0, 0, 0);
}
.icon-bus .path1:before {
  content: "\e908";
  color: rgb(0, 0, 0);
}
.icon-bus .path2:before {
  content: "\e909";
  margin-left: -1.8623046875em;
  color: rgb(0, 0, 0);
}
.icon-youtube-play:before {
  content: "\e904";
}
.icon-facebook-square:before {
  content: "\e905";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e903";
}

