.o-typo {
	letter-spacing: normal;
	
	a {
		&:before {
			bottom: 0 !important;
		}
		
		&:not(.o-link) {
			@extend %underline;
			font-weight: $bold;
		}
	}

	img {
		max-width: 100%;
	}

	p, li {
		font: {
			weight: $medium;
			size: em(16);
		}
		line-height: 1.6;
	}
	
	p {
		margin-bottom: 1.5em;
	}
	
	ol {
		counter-reset: list-counter;
		
		li {

			&:before {
				font-size: em(34,16);
				font-weight: $bold;
				font-family: $serif;
				
				counter-increment: list-counter;
				content: counter(list-counter) ". ";
			}
		}
		
		li ol {
			counter-reset: list-counter;
		}

	}

	ul {
		list-style: disc;
		margin-bottom: 3em;
		padding-left: 20px;
		
		& + h4 {
			padding-top: 30px;
		}
		
		li {
			position: relative;
			
			&:before {
				/*
position: absolute;
				top: 12px;
				left: -15px;
				display: block;
				width: 4px; height: 4px;
				background-color: $c-black;
				border-radius: 50%;
				content: ' ';
*/
				
				.bg--blue--brightest & {
					background-color: $c-blue;
				}
				
				.bg-gray--brightest & {
					background-color: $c-gray--darker;
				}
			}
		}
	}
	
	&--cols {
		padding: {
			top: 120px;
			bottom: 120px;
		}

		.col {
			float: left;
			width: 50%;
			padding-left: 75px;
		}
	}
	
	h2 {
		margin-bottom: 1em;
		font: {
			size: em(34, 16);
			family: $serif;
		}
	}
	
	h4 {
		margin-bottom: .8em;
		padding-top: 40px;
		text-transform: uppercase;
		font: {
			size: em(22, 16);
			weight: $light;
		}
	}
	
	table {
		width: calc(100% + 20px);
		margin: 0 0 40px -20px;
		
		td, th {
			padding: 15px 20px;
			border-bottom: 1px solid #d7d0cb;
			vertical-align: middle;
		}
		
		th {
			font-weight: $black;
		}
		
		tr {
			&:last-child {
				td, th {
					border: none;
				}
			}
		}
	}
	
	&--14px {
		p, li {
			font-size: em(14);
		}
		
		h4 {
			font-size: em(22, 14);
		}
	}
	
	.frame {
		border: 1px solid $c-beige--brighter;
		margin: 0 -20px 30px -40px;
		padding: 0 40px;
		color: $c-gray--darker;
		
		h4 {
			margin-bottom: 1em;
			text-transform: uppercase;
			font: {
				size: em(22);
				weight: $black;
			}
		}
		
		li {
			font: {
				size: em(16);
				weight: $semibold;
			}
		}
		
		ul {
			padding-left: 20px;
			list-style: disc;
		}
	}
	
	.minigallery {
		@extend %clear;
		margin: 0 -5px;

		img {
			float: left;
			display: block;
			margin: 5px;
		}
	}
}