.o-wrap {
	@extend %wrap;
	@extend %rel;
	@extend %clear;
	
	&--fullheight {
		height: 100%;
	}
	
	&--padding {
		padding: {
			left: 10px;
			right: 10px;
		}
		
		@media screen and ( max-width: $grid-base-width + px ) {
			padding: {
				left: 20px;
				right: 20px;
			}
		}		
	}
}