.c-about {

	&__baner {
		position: relative;
		background: {
			image: url(../img/about/onas-zapraszamy.jpg);
			position: center;
			repeat: no-repeat;
			color: #f6f5f3;
		}
		margin-bottom: 40px;
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			height: 575px;	
		}
		
		@media screen and ( max-width: $smartphone_portrait + px ) {
			margin-bottom: 20px;
		}

		
		.o-media {
			@media screen and ( max-width: $tablet_portrait + px ) {
				max-width: 200px;
			}
		}
		
		.o-wrap {
			@extend %rel;
		}		
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			min-height: 470px;
			
			background: {
				image: url(../img/about/onas-zapraszamy--mobile.jpg);
				position: center;
			}
		}
		
		article {
			display: block;
			
			@media screen and ( min-width: $tablet_portrait + 1 + px ) {
				position: absolute;
				left: grid(675);
				transform: translateY(-50%);
				top: 50%;
				width: grid(380);
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				padding: 40px;
				text-align: center;
			}
			
			@media screen and ( max-width: $smartphone + px ) {
				padding: 20px;
			}
			
			h4 {
				margin-bottom: 1em;
				line-height: 1.2;
				font-size: em(34);
				
				@media screen and ( max-width: $tablet_portrait + px ) {
					margin-bottom: .6em;
					font-size: em(24);
				}
			}
			
			p {
				margin-bottom: 1em;
				font-size: em(16);
				
				@media screen and ( max-width: $smartphone + px ) {
					font-size: em(12);
				}
			}
		}
	}

	&__row {
		@extend %clear;
		@extend %rel;
		overflow: hidden;
		margin-bottom: 40px;
		padding: 120px 0;
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			padding: 20px;
		}
		
		&:before {
			@extend %abs-after;
			top: 0;
			width: calc( ((100% - 1180px)/2) + 730px );
			height: 100%;
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				height:85%;
			}
			
			@media screen and ( max-width: $smartphone_portrait + px ) {
				width: 80%;
			}
		}
		
		br {
			@media screen and ( max-width: $tablet_portrait + px ) {
				display: none;
			}
		}
		
		.o-biglead {
			bottom: 30px;
			opacity: .12;
			width: calc( ((100% - 1180px)/2) + 630px );
			font-size: em(300);
			line-height: 1;
		}
		
		&:nth-child(odd) {

			@media screen and ( min-width: $tablet_portrait + 1 + px ) {
				.c-about__image {
					float: right;
				}
				
				.c-about__info {
					float: left;
					padding-left: grid(75);
				}
			}
			
			&:before {
				right: 0;
			}
			
			.o-biglead {
				left: 0;
				text-align: right;
			}
		}
		
		&:nth-child(even) {
			@media screen and ( min-width: $tablet_portrait + 1 + px ) {
				.c-about__image {
					float: left;
				}
	
				.c-about__info {
					float: right;
					width: grid(600);
					padding-right: grid(75);
				}
			}

			&:before {
				left: 0;
				
				@media screen and ( max-width: $smartphone_portrait + px ) {
					left: auto;
					right: 0;
				}
			}
			
			.o-biglead {
				right: 0;
			}
		}

		&.blue--brightest {
			&:before {
				background-color: $c-blue--brightest;
			}
		}
		
		&.gray--brightest {
			&:before {
				background-color: $c-gray--brightest;
			}
		}
		
		&.orange--brighter {
			&:before {
				background-color: $c-orange--brighter;
			}
		}
		
		&.pink {
			&:before {
				background-color: $c-pink;
			}
		}
		
		&.violet {
			&:before {
				background-color: $c-violet;
			}
		}
	}

	&__image {		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			width: grid(505);
			box-shadow: rgba(black, .2) 0 0 70px;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			margin-bottom: 30px;
		}
		
		.o-media {
			display: block;
		}		
	}
	
	&__desc {
		line-height: 1.6;
		font: {
			size: em(16);
			weight: $medium;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			font-size: em(14);
		}
	}
	
	&__info {
		width: grid(555);		
	}
	
	&__links {
		@extend %clear;
		margin-bottom: 40px;
		
		li {
			@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			
				width: grid(400);
	
				&:nth-child(1) a,
				&:nth-child(2) a,
				&:nth-child(3) a {
					border-bottom: none;
				}
				
				&:nth-child(3n+2) a {
					border-left: none;
					border-right: none;
				}
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				border-bottom: 1px solid $c-gray--brighter;
			}
			
			&:first-child {
				@media screen and ( max-width: $tablet_portrait + px ) {
					border-top: 1px solid $c-gray--brighter;
				}
			}
		}
		
		a {
			@extend %rel;
			display: block;
			width: 100%; 
			background-color: white;
			border: 1px solid $c-gray--brighter;
			
			@media screen and ( min-width: $tablet_portrait + 1 + px ) {
				height: 294px;
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				padding: 40px 20px;
				border: none;
			}
			
			
			&:before {
				@extend %icomoon;
				@extend %anim;
				@extend %abs-after;
				right: 15px; bottom: 15px;
				z-index: 10;
				content: "\e900";
				
				@media screen and ( max-width: $tablet_portrait + px ) {
					bottom: 50%;
					transform: translateY(50%);
				}
			}			
			
			&:hover {
				background-color: $c-black;
				
				.o-lead {
					.o-lead__big {
						color: $c-gray--darker;
					}
					
					&:before,
					&:after {
						background-color: white;
					}
				}
				
				&:before {
					color: white;
				}
			}
		}

		li {
			@media screen and ( min-width: $tablet_portrait + 1 + px ) {
				float: left;
			}
		}
		
		.o-lead {

			@media screen and ( min-width: $tablet_portrait + 1 + px ) {
				position: absolute;
				left: 50%; top: 50%;
				transform: (translateX(-50%) translateY(-50%));
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				position: relative;
				transform: none;
				top: auto;
				
				&:after, &:before {
					display: none;
				}
			}
			
			&:after {
				display: none;
			}

			.o-lead__big {
				white-space: nowrap;
				font-size: em(28);
				letter-spacing: 6px;
				
				@media screen and ( max-width: $tablet + px ) {
					font-size: em(24);
					letter-spacing: 3px;
				}
				
				@media screen and ( max-width: $tablet_portrait + px ) {
					font-size: em(20);
				}
				
			}			
		}
	}
	
	&__title {
		display: block;
		margin-bottom: 1em;
		line-height: 1.2;
		font: {
			size: em(34);
			weight: $bold;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			font-size: em(20);
		}
	}
}