.c-article {
	padding: 15px grid(150);
	
	@media screen and ( max-width: $smartphone + px ) {
		padding: {
			left: 20px;
			right: 20px;
		}
	}

	&__date {
		margin-bottom: 2em;
		font-weight: $black;
	}
	
	&__title {
		margin-bottom: .7em;
		font-size: em(40);
		line-height: 1.2;
		
		@media screen and ( max-width: $smartphone + px ) {
			margin-bottom: 50px;
			font-size: em(20);
		}
		
	}

	.photo {
		@extend %clear;
		padding: 40px 0;
		
		@media screen and ( min-width: $smartphone + 1 + px ) {
			margin: 0 -140px;
		}
		
		@media screen and ( max-width: $smartphone + px ) {
			margin: 0 -20px;
		}
		
		img {
			display: block;
		}
		
		&--2cols {
			img {
				@media screen and ( min-width: $smartphone + 1 + px ) {
					float: left;
					width: calc(50% - 10px);
		
					&:last-of-type {
						float: right;
					}
				}
				
				@media screen and ( max-width: $smartphone + px ) {
					margin-bottom: 2px;
				}
			}
		}
		
		&--center {
			img {
				margin: 0 auto;
			}
		}
	}
}
