.c-biglist {
	margin-bottom: 100px;

	&__date {
		display: block;
		margin-bottom: 25px;
		font-weight: $black;
		color: $c-gray;
		
		@media screen and ( max-width: $tablet + px ) {
			font-size: em(12);
		}
	}

	&__link {
		display: block;
		transition-duration: 200ms;
		position: relative;
		background-color: white;
		border-bottom: 1px solid rgba($c-gray--darker, .5);
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			min-height: 230px;
		}

		.o-wrap {
			height: 100%;
			margin: 0 auto;
			padding: 25px grid(90);
			
			@media screen and ( min-width: $grid-base-width+px ) {
				width: 1200px;
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				padding: 25px 20px;
			}
			
			&:after {
				@extend %icomoon;
				position: absolute;
				right: 40px;
				bottom: 45px;
				content: "\e900";
				
				@media screen and ( max-width: $tablet_portrait + px ) {
					right: 20px;
					bottom: 20px;
				}
			}
		}
		
		&:hover {
			background-color: $c-gray--brightest;
		}
	}

	&__title {
		display: block;
		margin-bottom: .8em;
		font-family: $serif;
		font-size: em(34);	
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			font-size: em(20);
		}
		
	}
	
	&__desc {
		display: block;
		margin-bottom: 1em;
		font-weight: $medium;
		
		@media screen and ( min-width: $tablet + 1 + px ) {
			font-size: em(16);
		}
	}
}

