.c-breadcrumbs {
	padding: {
		top: 35px;
		bottom: 35px;
	}
	letter-spacing: 2px;
	font: {
		size: em(12);
		weight: $medium;
	}
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		letter-spacing: 1px;
		font-size: em(10);
	}
	
	.c-header--aplaGray & {
		color: $c-black;
	}
	
	.c-header--aplaBlack & {
		color: $c-gray;
	}
	
	.c-header & {
		@extend %center;
		z-index: 5 !important;
		top: 0;
		
		@media screen and ( min-width: $grid-base-width + 1 + px ) {
			width: $grid-base-width+px;
		}
		
		@media screen and ( max-width: $grid-base-width + px ) {
			left: 20px;
			transform: none;
		}
	}

	&__item {		
		span {
			@extend %underline;	
		}

		&:after {
			@extend %icomoon;
			margin-left: 6px;
			font-size: 8px;
			content: "\e900";
		}
		
		&--current {
			font-weight: $black;
			
			&:after {
				display: none;
			}
		}
	}
	
	&.border {
		border-bottom: 1px solid rgba($c-gray--darker, .5);
	}
	
	@media screen and ( max-width: $grid-base-width + px ) {
		padding: {
			//left: 20px;
			//top: 20px;
			bottom: 20px;
		}
	}
}