.c-details {
	line-height: 1.6;
	padding: {
		top: 60px;
		bottom: 60px;
	}

	@media screen and ( min-width: $tablet_portrait + 1 + px ) {
		padding-left: 75px;
		padding-right: 20px;
		
		article {
			max-width: 654px;
		}
		
		&--full {
			article {
				max-width: 100%;
			}
		}
	}

	@media screen and ( max-width: $tablet_portrait + px ) {
		padding: {
			left: 20px;
			right: 20px;
		}
	}
	
}