.c-header {
	position: relative;
	z-index: 1;
	height: 615px;
	background: {
		position: center bottom;
		repeat: no-repeat;
		size: 1920px auto;
	}
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		height: 475px !important;
		background: {
			size: cover;
		}
	}
	
	@media screen and ( max-width: $smartphone + px ) {
		background-position: 60% bottom;
	}
	
	&--low {
		height: 415px;
		background-position: center top;
	}
	
	&--apla {
		&:after {
			@extend %abs-after;
			left: 0; top: 0;
			width: 50%;
			height: 100%;
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				width: 100%;
			}
		}
	}

	&--aplaBlack {
		&:after {
			background-color: rgba($c-black, .85);
		}
	}
	
	&--aplaGray {
		&:after {
			background-color: rgba($c-gray--darker, .95);
		}
	}

	&--map {
		margin-bottom: 60px;

	}
	
	.o-lead__medium {
		margin-bottom: 30px;
	}
}