.c-list {
	z-index: 5;
	top: -200px;
	margin-bottom: -100px;

	li {
		position: relative;
		
		&:after {
			@extend %icomoon;
			@extend %vcenter;
			position: absolute;
			right: 50px;
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				right: 20px;
			}
		}
		
		&:first-child {
			.c-list__link {
				border-top: 1px solid $c-gray--brighter;
			}

			@media screen and ( max-width: $tablet_portrait + px ) {
				.c-list__link {
					background-color: rgba(white, .85);
				}
				
			}
		}
	}
	
	&--arrow {
		li {
			&:after {
				content: "\e900";
			}
		}
	}
	
	&--download {
		li {
			&:after {
				font-size: em(26);
				color: $c-gray--darker;
				content: "\e902";
			}
		}
	}

	&__link {
		transition-duration: 100ms;
		display: flex;
		align-items: center;
		position: relative;
		min-height: 100px;
		background-color: white;
		padding: 0 100px 0 50px;
		border: {
			bottom: 1px solid $c-gray--brighter;
			left: 1px solid $c-gray--brighter;
			right: 1px solid $c-gray--brighter;
		}
		
		&:hover {
			background-color: $c-gray--brightest;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			padding: 0 50px 0 20px;
		}
	}
	
	&__link--center {
		display: flex;
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			flex-direction: column;
		}
	}

	&__name {
		position: relative;
		font: {
			size: em(22);
			weight: $black;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			font-size: em(14);
		}
	}
	
	&__desc {
		@extend %rel;
		top: 3px;

		&:before {
			content: ' / ';
			
			@media screen and ( min-width: $tablet_portrait + 1 + px ) {
				margin-left: 6px;
			}
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			font-size: em(12);
		}
	}
}

