.c-longbox {
	@extend %clear;
	background-color: rgba($c-gray--darker, .1);

	li {
		float: left;
		width: grid(300);
		padding: 0 grid(10);
		overflow: hidden;
		
		.o-lead__small {
			color: $c-gray--darker;
		}
		
		&:nth-child(even) {
			.o-lead__big,
			.o-lead__small {
				color: white;
			}
		}

		&:nth-child(3),
		&:nth-child(4) {
			.o-lead__big {
				padding-top: 34px;
			}
		}
	}

	&__item {
		@extend %anim;
		position: relative;				
		
		&:hover {
			box-shadow: rgba(black, .1) 0 0 50px 0;
		}
	}
	
	.o-media {
		display: block;
	}
	
	.o-lead {
		top: 60%;
		z-index: 10;
	}
	
	@media screen and ( max-width: $tablet+px ) {
	
		.o-lead {
			top: 50%;
			
			&:before, &:after {
				display: none;
			}
			
			.o-lead__big {
				font-size: em(26);
			}
			
			.o-lead__small {
				font-size: em(14);
			}
		}
	}
	
	@media screen and ( max-width: $tablet_portrait+px ) {
		li {
			width: 280px;
			height: 370px;
			padding: 0 10px;
		}
		
		&__item {
			height: 370px;
		}
	}
}