.c-sections {
	@extend %clear;
	margin-bottom: 40px;

	&__item {
		@extend %rel;
		overflow: hidden;		
		
		&:last-child {
			float: right;
		}
		
		@media screen and ( min-width: $tablet_portrait + 1 + px ) {
			float: left;
			width: calc(50% - 10px);
		}
		
		@media screen and ( max-width: $grid-base-width + px ) {
			background-color: #f6f5f3;
			//padding-top: 140px;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			margin-bottom: 20px;
		}
		
		@media screen and ( max-width: $smartphone_portrait + px ) {
			padding-top: 200px;
		}
	}
	
	.o-lead {
		@extend %center-middle;
		z-index: 100 !important;
		
		@media screen and ( max-width: $grid-base-width + px ) {
			
			&__big {
				font-size: em(24) !important;
			}

			&__medium,
			&__small {
				font-size: em(14);
			}
			
			
		}			
	}

	.o-media {
		display: block;
	}
}