// Colors

$c-beige:			#aca39c;
$c-beige--brighter:	#deceb4;

$c-black:			#2e2c2a;

$c-blue:			#638c9d;
$c-blue--brightest:	#cee6ed;

$c-gray:			#afa297;
$c-gray--darker:	#a99b8e;
$c-gray--darkest:	#99938f;

$c-gray--brighter:	#d7d4ce;
$c-gray--brightest:	#ebe2db;

$c-gray--bright:	#c2b2b6;

$c-orange:				#d49c84;
$c-orange--brighter:	#f3d1c2;

$c-pink:			#dfb4b5;
$c-pink--darker:	#927273;
$c-pink--brighter:	#ffebf0;

$c-violet:			#d9cbdc;
$c-violet--darker:	#8f7b91;
