// Fonts
$serif:				'Playfair Display', serif;
$sans-serif:		'Raleway', sans-serif;
$icomoon:			'icomoon';


// Font weights
$light:				300;
$regular:			400;
$medium:			500;
$semibold:			600;
$bold:				700;
$extrabold:			800;
$black:				900;

// Default
$text:				$sans-serif;
$base-font-size:	14;
$grid-base-width:	1200;

